<header class="site-header site-title-bg">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">Marrony Neris</a>

    <nav class="site-nav">
      <div class="trigger">
        {% if site.categories.size > 0 %}
        <a class="page-link" href="/categories.html">Categories</a>
        {% endif %}

        {% if site.tags.size > 0 %}
        <a class="page-link" href="/categories.html">Tags</a>
        {% endif %}

        {% for page in site.pages %}
          {% if page.title %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

  <div class="wrapper">
    <div class="site-sub-title">
      Welcome to my personal blog, here you'll find things I like and currently working on.
    </div>
  </div>

</header>
